In [1]:
# we are going to do a project on movie recommendation
# the model will learn based on the data of users and movie details
# the model will then calculate the mean of rating by different users
# we will also count the number of users who rated a particular movie
# the recommendation will be based on movies under the same category/cluster of rating
import pandas
# modcom.co.ke/datasets/file.csv
# modcom.co.ke/datasets/Movie_Id_Titles.csv
User_items_details=pandas.read_csv("file.csv")
User_items_details.tail(4) # reading the first records

        user_id  item_id  rating  timestamp
99999       716      204       5  879795543
100000      276     1090       1  874795795
100001       13      225       2  882399156
100002       12      203       3  879959583

In [2]:
# the second dataset
Movie_details=pandas.read_csv("Movie_Id_Titles.csv")
Movie_details.tail(4)

      item_id                                      title
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

In [3]:
data=pandas.merge(User_items_details,Movie_details)
data.tail(10)

,user_id,item_id,rating,timestamp,title
99993,416,1594,5,893212484,Everest (1998)
99994,648,1626,1,884795447,Nobody Loves Me (Keiner liebt mich) (1994)
99995,655,1645,4,892871225,"Butcher Boy, The (1998)"
99996,747,1659,1,888733313,Getting Away With Murder (1996)
99997,916,1682,3,880845755,Scream of Stone (Schrei aus Stein) (1991)
99998,840,1674,4,891211682,Mamma Roma (1962)
99999,655,1640,3,888474646,"Eighth Day, The (1996)"
100000,655,1637,3,888984255,Girls Town (1996)
100001,655,1630,3,887428735,"Silence of the Palace, The (Saimt el Qusur) (1..."
100002,655,1641,3,887427810,Dadetown (1995)

In [4]:
# group the dataset based on the rating
# find the mean as per rating
data.groupby('title')['rating'].mean().sort_values(ascending=False).head(50)

title
They Made Me a Criminal (1939)                                                 5.000000
Marlene Dietrich: Shadow and Light (1996)                                      5.000000
Saint of Fort Washington, The (1993)                                           5.000000
Someone Else's America (1995)                                                  5.000000
Star Kid (1997)                                                                5.000000
Great Day in Harlem, A (1994)                                                  5.000000
Aiqing wansui (1994)                                                           5.000000
Santa with Muscles (1996)                                                      5.000000
Prefontaine (1997)                                                             5.000000
Entertaining Angels: The Dorothy Day Story (1996)                              5.000000
Pather Panchali (1955)                                                         4.625000
Some Mother's Son (1996)                                                       4.500000
Maya Lin: A Strong Clear Vision (1994)                                         4.500000
Anna (1996)                                                                    4.500000
Everest (1998)                                                                 4.500000
Close Shave, A (1995)                                                          4.491071
Schindler's List (1993)                                                        4.466443
Wrong Trousers, The (1993)                                                     4.466102
Casablanca (1942)                                                              4.456790
Wallace & Gromit: The Best of Aardman Animation (1996)                         4.447761
Shawshank Redemption, The (1994)                                               4.445230
Rear Window (1954)                                                             4.387560
Usual Suspects, The (1995)                                                     4.385768
Star Wars (1977)                                                               4.359589
12 Angry Men (1957)                                                            4.344000
Bitter Sugar (Azucar Amargo) (1996)                                            4.333333
Letter From Death Row, A (1998)                                                4.333333
Third Man, The (1949)                                                          4.333333
Citizen Kane (1941)                                                            4.292929
Some Folks Call It a Sling Blade (1993)                                        4.292683
To Kill a Mockingbird (1962)                                                   4.292237
One Flew Over the Cuckoo's Nest (1975)                                         4.291667
Silence of the Lambs, The (1991)                                               4.289744
North by Northwest (1959)                                                      4.284916
Godfather, The (1972)                                                          4.283293
Secrets & Lies (1996)                                                          4.265432
Good Will Hunting (1997)                                                       4.262626
Shall We Dance? (1996)                                                         4.260870
Manchurian Candidate, The (1962)                                               4.259542
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)    4.252577
Raiders of the Lost Ark (1981)                                                 4.252381
Vertigo (1958)                                                                 4.251397
Innocents, The (1961)                                                          4.250000
Crossfire (1947)                                                               4.250000
Kaspar Hauser (1993)                                                           4.250000
Titanic (1997)                                                                 4.245714
Lawrence of Arabia (1962)                                                      4.231214
Paths of Glory (1957)                                                          4.212121
Maltese Falcon, The (1941)                                                     4.210145
Empire Strikes Back, The (1980)                                                4.206522
Name: rating, dtype: float64

In [5]:
# how many times the movie was rated/how many users
data.groupby('title')['rating'].count().sort_values(ascending=False).tail(50)

title
Sweet Nothing (1995)                                         1
Modern Affair, A (1995)                                      1
Love Is All There Is (1996)                                  1
Terror in a Texas Town (1958)                                1
Lotto Land (1995)                                            1
Nobody Loves Me (Keiner liebt mich) (1994)                   1
Small Faces (1995)                                           1
Death in Brunswick (1991)                                    1
Farmer & Chase (1995)                                        1
Gate of Heavenly Peace, The (1995)                           1
Further Gesture, A (1996)                                    1
Pharaoh's Army (1995)                                        1
Police Story 4: Project S (Chao ji ji hua) (1993)            1
Power 98 (1995)                                              1
Two Friends (1986)                                           1
Fire on the Mountain (1996)                                  1
Favor, The (1994)                                            1
Promise, The (Versprechen, Das) (1994)                       1
Getting Away With Murder (1996)                              1
Eye of Vichy, The (Oeil de Vichy, L') (1993)                 1
Every Other Weekend (1990)                                   1
Etz Hadomim Tafus (Under the Domin Tree) (1994)              1
Entertaining Angels: The Dorothy Day Story (1996)            1
Quartier Mozart (1992)                                       1
Eighth Day, The (1996)                                       1
Desert Winds (1995)                                          1
Death in the Garden (Mort en ce jardin, La) (1956)           1
Paris Was a Woman (1995)                                     1
Stefano Quantestorie (1993)                                  1
I Don't Want to Talk About It (De eso no se habla) (1993)    1
Nothing Personal (1995)                                      1
Tokyo Fist (1995)                                            1
Normal Life (1996)                                           1
Hush (1998)                                                  1
Hungarian Fairy Tale, A (1987)                               1
Hostile Intentions (1994)                                    1
Homage (1995)                                                1
Here Comes Cookie (1935)                                     1
Hedd Wyn (1992)                                              1
Touki Bouki (Journey of the Hyena) (1973)                    1
Girl in the Cadillac (1995)                                  1
He Walked by Night (1948)                                    1
Hana-bi (1997)                                               1
Object of My Affection, The (1998)                           1
Office Killer (1997)                                         1
Great Day in Harlem, A (1994)                                1
Other Voices, Other Rooms (1997)                             1
Good Morning (1971)                                          1
Girls Town (1996)                                            1
Á köldum klaka (Cold Fever) (1994)                           1
Name: rating, dtype: int64

In [6]:
# display the mean in a dataframe
mean_rating=pandas.DataFrame(data.groupby('title')['rating'].mean())
# this is for displaying the total count
mean_rating['n_ratings']=pandas.DataFrame(data.groupby('title')['rating'].count())
mean_rating.head(7)

                                       rating  n_ratings
title
'Til There Was You (1997)            2.333333          9
1-900 (1994)                         2.600000          5
101 Dalmatians (1996)                2.908257        109
12 Angry Men (1957)                  4.344000        125
187 (1997)                           3.024390         41
2 Days in the Valley (1996)          3.225806         93
20,000 Leagues Under the Sea (1954)  3.500000         72

In [7]:
# pivot table
# find which movie each user rated
# user, movie, rating of the movie
pivot=data.pivot_table(index='user_id',columns='title',values='rating')
pivot.tail(10)

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
934,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
936,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
937,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
938,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN

In [8]:
# display movies that have close(high) correlation
# movies that correlate based on the ratings
selected_movie=pivot['Star Wars (1977)']
# finding similar movies based on their ratings
similar=pivot.corrwith(selected_movie)
similar_df=pandas.DataFrame(similar,columns=['Correlations'])
similar_df.sort_values('Correlations',ascending=False).head(50)

/home/user/.local/lib/python3.8/site-packages/numpy/lib/function_base.py:2821: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/home/user/.local/lib/python3.8/site-packages/numpy/lib/function_base.py:2680: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                                    Correlations
title
Hollow Reed (1996)                                      1.000000
Stripes (1981)                                          1.000000
Star Wars (1977)                                        1.000000
Beans of Egypt, Maine, The (1994)                       1.000000
Safe Passage (1994)                                     1.000000
Old Lady Who Walked in the Sea, The (Vieille qu...      1.000000
Outlaw, The (1943)                                      1.000000
Line King: Al Hirschfeld, The (1996)                    1.000000
Hurricane Streets (1998)                                1.000000
Good Man in Africa, A (1994)                            1.000000
Scarlet Letter, The (1926)                              1.000000
Golden Earrings (1947)                                  1.000000
Full Speed (1996)                                       1.000000
Twisted (1996)                                          1.000000
Ed's Next Move (1996)                                   1.000000
Mondo (1996)                                            1.000000
Man of the Year (1995)                                  1.000000
Cosi (1996)                                             1.000000
Commandments (1997)                                     1.000000
No Escape (1994)                                        1.000000
Last Time I Saw Paris, The (1954)                       1.000000
Maya Lin: A Strong Clear Vision (1994)                  1.000000
Designated Mourner, The (1997)                          0.970725
Albino Alligator (1996)                                 0.968496
Angel Baby (1995)                                       0.962250
Prisoner of the Mountains (Kavkazsky Plennik) (...      0.927173
Love in the Afternoon (1957)                            0.923381
'Til There Was You (1997)                               0.872872
A Chef in Love (1996)                                   0.868599
Substance of Fire, The (1996)                           0.866025
Quiet Room, The (1996)                                  0.866025
Guantanamera (1994)                                     0.866025
Rhyme & Reason (1997)                                   0.866025
Wedding Gift, The (1994)                                0.866025
Zeus and Roxanne (1997)                                 0.818182
Dream With the Fishes (1997)                            0.804084
Paradise Road (1997)                                    0.790569
Unhook the Stars (1996)                                 0.771744
Ciao, Professore! (1993)                                0.755929
Hearts and Minds (1996)                                 0.755929
That Old Feeling (1997)                                 0.750000
Bliss (1997)                                            0.750000
Empire Strikes Back, The (1980)                         0.748353
unknown                                                 0.723123
American Buffalo (1996)                                 0.722592
Wonderful, Horrible Life of Leni Riefenstahl, T...      0.707107
City of Angels (1998)                                   0.707107
Return of the Jedi (1983)                               0.672556
Grace of My Heart (1996)                                0.645497
Cronos (1992)                                           0.639362

In [9]:
# show movies rated by more than 200 users/num_of_ratings more than 200
similar_df=similar_df.join(mean_rating['n_ratings'])
similar_df.tail(5)

                                       Correlations  n_ratings
title
Young Guns II (1990)                       0.228615         44
Young Poisoner's Handbook, The (1995)     -0.007374         41
Zeus and Roxanne (1997)                    0.818182          6
unknown                                    0.723123          9
Á köldum klaka (Cold Fever) (1994)              NaN          1

In [10]:
# pick only the movies with more than 200 ratings
similar_df[similar_df['n_ratings']>200].sort_values('Correlations',ascending=False)

                                 Correlations  n_ratings
title
Star Wars (1977)                     1.000000        584
Empire Strikes Back, The (1980)      0.748353        368
Return of the Jedi (1983)            0.672556        507
Raiders of the Lost Ark (1981)       0.536117        420
Sting, The (1973)                    0.367538        241
...                                       ...        ...
Phenomenon (1996)                   -0.022359        244
Dead Man Walking (1995)             -0.034158        299
Ransom (1996)                       -0.035184        267
Time to Kill, A (1996)              -0.042790        232
Murder at 1600 (1997)               -0.064778        218

[117 rows x 2 columns]